<h1>Dev#index</h1>
<p>HTML - app/views/dev/index.html.erb</p>
<p>javascript - app/javascript/packs/application.js</p>
<p>css - app/assets/stylesheets/</p>
<p>маршрутицация - /routes.rb надо вот так 'Rails.application.routes.draw do root "pages#home" get "/about", to: "pages#about" end'></p>
<p>маршрутицация - 'rails generate controller Pages home about' </p>