<%= render 'shared/nav' %>

<div class="main-div">
<h1>Список пользователей</h1>
<table>
<thead>
<tr>
<th>Имя</th>
<th>Email</th>
<th>Редактирование</th>
<th>Удаление</th>
<tr>
</thead>
<tbody>
<% @users.each do |user| %>
<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= link_to "Редактировать", edit_user_path(user) %></td>
<td></td>
</tr>
<% end %>
</tbody>
</table>
</div>