/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  outline: none;
  text-decoration: none;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  min-height: 100vh;
}

div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-div {
  display: block;
  padding-left: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

main {
  min-width: 100vw;
  min-height: calc(100vh - 83px);
  height: calc(100vh - 83px);
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(0, 4, 230);
}

a:hover {
  color: rgb(14, 0, 139);
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  min-width: 400px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 50px;
}

.no-form-a {
  color: rgb(0, 4, 230);
}

.no-form-a:hover {
  color: rgb(14, 0, 139);
}

input {
  padding: 10px;
  border: 1px solid black;
  color: black;
  min-width: 100%;
  width: 100%;
}

input:hover {
  border: 1px solid blue;
}

input[type="submit"] {
  background-color: rgb(0, 4, 230);
  color: white;
  padding: 15px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1.275em;
}

.light {
  background-color: #eee;
  color: #222;
}
.dark {
  background-color: #222;
  color: #eee;
}

.no-form-b {
  display: block;
  border-radius: 0px;
  border: none;
  color: white;
  padding: 0px;
  min-width: 0px;
  background-color: transparent;
}
.button-b {
  background-color: transparent;
  color: white;
  padding: 0px;
  border: none;
  border-radius: 0px;
}

.button-b:hover {
  color: red;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 30px;
  background-color: black;
}
nav > * {
  color: white;
  cursor: default;
}

nav > *:hover {
  color: red;
}

.no-form {
  display: block;
  border-radius: 0px;
  min-width: 0px;
  border: none;
  padding: 0px;
}

table {
  padding: 20px;
}
thead {
  padding: 20px;
}
tbody {
  padding: 20px;
}
tr {
  padding: 20px;
}
th {
  padding: 20px;
}
td {
  padding: 20px;
}
