/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  outline: none;
  text-decoration: none;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

html,
body {
  min-width: 100%;
  min-height: 100vh;
}

div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

main {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 30px;
  background-color: #222;
}

a {
  color: rgb(0, 4, 230);
}

a:hover {
  color: rgb(14, 0, 139);
}

nav > a {
  color: white;
}

nav > a:hover {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 50px;
}

input {
  padding: 10px;
  border: 1px solid black;
  color: black;
  width: 100%;
}

input:hover {
  border: 1px solid blue;
}

input[type="submit"] {
  background-color: red;
  color: white;
  padding: 15px;
  border: 1px solid black;
  border-radius: 3px;
}
